	<div class="container-fluid bg-dark" id="footer">
		<div class="row">
			<div class="col">
				<div class="container">
					<p class="text-white pt-2 text-center">Made with <i class="fas fa-heart"></i> using <i class="fab fa-python"></i> by upil <br><i class="far fa-copyright"></i> 2019</p>
				</div>
			</div>
		</div>
	</div>