{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">    
        <a class="navbar-brand" href="/"><h3>UPIL</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
        </div>
    </div>
</nav>
