{% load static %}

<script src="{% static 'vendor/jquery/jquery-3.3.1.slim.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'vendor/popper/popper.min.js' %}" type="text/javascript" ></script>
<script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript" ></script>
