{% load static %}

<link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet"> 
<style>
	.navbar-brand {
		font-family: viga;
		font-size:  65px;
	}
</style>
<link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/all.css' %}">