body {
	background: #ccc;
	font-family: viga;
}


#bg-image {
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 620px;
}

#About {
	margin-top: -520px;
}


#footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .display-4 {
    font-size: 40px;
  }
}

