{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{{ name }}</title>
	{% include "snippets/styles.html" %}
	<link rel="stylesheet" href="{% static 'resume/css/styles.css' %}">
	<style>
	.jumbotron {
		background: url({% static 'resume/img/back.jpg' %})
	}
	</style>
</head>

<body>

	{% include "snippets/navbar.html" %}

	<!-- jumbotron -->
	<div class="jumbotron jumbotron-fluid" id="jumbotron">
		
	</div>

	<!-- education background -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1>My Educational Background</h1>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="col-md">
					<div class="card" style="width: 14rem;">
						<div class="card-body">
					   		<h5 class="card-title">Elementary School</h5>
					    	<h6 class="card-subtitle mb-2 text-muted">2005 - 2011</h6>
					    	<p class="card-text">SDN Bojongkawung</p>
					  </div>
					</div>
				</div>
				<div class="col-md">
					<div class="card" style="width: 14rem;">
					  	<div class="card-body">
					   		<h5 class="card-title">Junior High School</h5>
					    	<h6 class="card-subtitle mb-2 text-muted">2011 - 2014</h6>
					    	<p class="card-text">SMPN 3 Cibadak</p>
					  	</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card" style="width: 14rem;">
					  	<div class="card-body">
					   		<h5 class="card-title">High School</h5>
					    	<h6 class="card-subtitle mb-2 text-muted">2014 - 2017</h6>
					    	<p class="card-text">SMKN 1 Kota Sukabumi</p>
					  	</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card" style="width: 14rem;">
					  	<div class="card-body">
					   		<h5 class="card-title">University</h5>
					    	<h6 class="card-subtitle mb-2 text-muted">2017 - now</h6>
					    	<p class="card-text">Nusa Putra University</p>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- my experience -->
	<section class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col text-center mt-4">
					<h1>My Experience</h1>
				</div>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/pic1.jpg" %}" class="card-img-top" alt="pic1">
					  	<div class="card-body">
					    	<h5 class="card-title">Diksar Resimen Mahasiswa</h5>
					    	<p class="card-text">Mengikuti Pendidikan dan Pelatihan Dasar Resimen Mahasiswa Mahawarman di secata TNI AD Pangalengan, Bandung Selatan. <br><br>tahun 2018</p>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/pic2.jpg" %}" class="card-img-top" alt="pic2">
					  	<div class="card-body">
					    	<h5 class="card-title">PKL</h5>
					    	<p class="card-text">PKL sebagai peng-upload code pada chip ic di PT.SGP Indonesia. <br><br>tahun 2015</p>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/pic3.png" %}" class="card-img-top" alt="pic3">
					  	<div class="card-body">
					    	<h5 class="card-title">Peserta Digitalent</h5>
					    	<p class="card-text">Menjadi peserta Digitalent Scholarship dari Kemenkominfo di bidang Programming Essential in Python. <br><br>tahun 2019</p>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- My Skills -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col text-center mt-4">
					<h1>My Skills</h1>
				</div>
			</div>
			<div class="row mt-4 mb-4">
				<div class="col-md">
					<div class="card mb-4" style="width: 18rem;">
						<img src="{% static "resume/img/html.svg" %}" class="card-img-top" alt="html">
					  	<div class="card-body">
					    	<div class="progress">
  								<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  									75%
  								</div>
							</div>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/css.svg" %}" class="card-img-top" alt="css">
					  	<div class="card-body">
					    	<div class="progress">
  								<div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
  									60%
  								</div>
							</div>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/js.svg" %}" class="card-img-top" alt="js">
					  	<div class="card-body">
					    	<div class="progress">
  								<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  									50%
  								</div>
							</div>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/python.svg" %}" class="card-img-top" alt="python">
					  	<div class="card-body">
					    	<div class="progress">
  								<div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
  									80%
  								</div>
							</div>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/django.svg" %}" class="card-img-top" alt="django">
					  	<div class="card-body">
					    	<div class="progress">
  								<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  									50%
  								</div>
							</div>
					  	</div>
					</div>
				</div>
				<div class="col-md mb-4">
					<div class="card" style="width: 18rem;">
						<img src="{% static "resume/img/arduino.svg" %}" class="card-img-top" alt="arduino">
					  	<div class="card-body">
					    	<div class="progress">
  								<div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
  									85%
  								</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</section>


		<!-- footer -->
	{% include "snippets/footer.html" %}
	
	
	<!-- script js bootstrap -->
	{% include "snippets/scripts.html" %}


</body>

</html>